VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLIC_TK=
VITE_FACEBOOK_APP_ID=
VITE_IMGBB_API_KEY=
VITE_BACKEND_URL=
VITE_FACESWAP_API_KEY=
VITE_NCP_ACCOUNT_URL=http://account.cubric.io
VITE_NCP_API_URL=http://hairdeal.cubric.io
CORE_SERVER_URL=http://hairdeal.cubric.io
ACCOUNT_SERVER_URL=http://account.cubric.io
API_SERVER_URL=https://api.cubric.io
BACKOFFICE_URL=http://backoffice.cubric.io
SUPABASE_SERVICE_ROLE_KEY=
NCP_JWT_SECRET=0cub6zbqmflr0ric1d
VITE_NCP_JWT_DESIGNER_SECRET_KEY=0cub6zbqmflr0ric1d
TOSS_SECRET_KEY=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

# Social Login Configuration (Supabase Bypassed, Custom NCP Sync)
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
